.md-nav__list a {
    padding-inline-start: 0.5rem;
}

.md-typeset h1 {
    margin: 0 0 0.25em;
}

blockquote p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.md-typeset ul li ,
.md-typeset ol li {
    margin-bottom: 0;
}

.md-tabs__link {
    margin-top: 0;
}

.md-tabs__item {
    height: 1.5rem;
}
